services:
  ubuntu-2004:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2004
    image: r-builds:ubuntu-2004
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  ubuntu-2204:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2204
    image: r-builds:ubuntu-2204
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  ubuntu-2404:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2404
    image: r-builds:ubuntu-2404
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  debian-12:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.debian-12
    image: r-builds:debian-12
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  debian-13:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.debian-13
    image: r-builds:debian-13
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  centos-7:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.centos-7
    image: r-builds:centos-7
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  centos-8:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.centos-8
    image: r-builds:centos-8
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  rhel-9:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.rhel-9
    image: r-builds:rhel-9
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  rhel-10:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.rhel-10
    image: r-builds:rhel-10
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  opensuse-156:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.opensuse-156
    image: r-builds:opensuse-156
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  opensuse-160:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.opensuse-160
    image: r-builds:opensuse-160
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  fedora-41:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.fedora-41
    image: r-builds:fedora-41
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  fedora-42:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.fedora-42
    image: r-builds:fedora-42
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
  fedora-43:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.fedora-43
    image: r-builds:fedora-43
    volumes:
      - ./integration/tmp:/tmp/output
    platform: ${PLATFORM_ARCH}
