services:
  ubuntu-2004:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2004
    image: r-builds:ubuntu-2004
    volumes:
      - ./integration/tmp:/tmp/output
  ubuntu-2204:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2204
    image: r-builds:ubuntu-2204
    volumes:
      - ./integration/tmp:/tmp/output
  ubuntu-2404:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2404
    image: r-builds:ubuntu-2404
    volumes:
      - ./integration/tmp:/tmp/output
  debian-12:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.debian-12
    image: r-builds:debian-12
    volumes:
      - ./integration/tmp:/tmp/output
  centos-7:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.centos-7
    image: r-builds:centos-7
    volumes:
      - ./integration/tmp:/tmp/output
  centos-8:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.centos-8
    image: r-builds:centos-8
    volumes:
      - ./integration/tmp:/tmp/output
  rhel-9:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.rhel-9
    image: r-builds:rhel-9
    volumes:
      - ./integration/tmp:/tmp/output
  opensuse-156:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.opensuse-156
    image: r-builds:opensuse-156
    volumes:
      - ./integration/tmp:/tmp/output
  fedora-40:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.fedora-40
    image: r-builds:fedora-40
    volumes:
      - ./integration/tmp:/tmp/output
  fedora-41:
    command: ./build.sh
    environment:
      - R_VERSION=${R_VERSION}
      - R_INSTALL_PATH=${R_INSTALL_PATH}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.fedora-41
    image: r-builds:fedora-41
    volumes:
      - ./integration/tmp:/tmp/output
